<aside class="menu uppercase" id="menu">
  <div class="container">
    <div class="menu-top">
      <a routerLink="/" class="logo-link" (click)="onClose()">
        <img src="assets/icons/logo.png" alt="Logo" class="logo" />
      </a>

      <div class="header-icons">
        <button
          (click)="onClose()"
          class="icon icon-close"
          aria-label="Close Menu"
        ></button>
      </div>
    </div>

    <div class="menu-bottom">
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a
              routerLink="/"
              routerLinkActive="is-active"
              [routerLinkActiveOptions]="{ exact: true }"
              class="nav-link"
              (click)="onClose()"
            >
              home
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/phones"
              routerLinkActive="is-active"
              class="nav-link"
              (click)="onClose()"
            >
              phones
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/tablets"
              routerLinkActive="is-active"
              class="nav-link"
              (click)="onClose()"
            >
              tablets
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/accessories"
              routerLinkActive="is-active"
              class="nav-link"
              (click)="onClose()"
            >
              accessories
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="menu-icons">
      <a
        routerLink="/favorites"
        routerLinkActive="is-active"
        class="icon"
        (click)="onClose()"
        aria-label="Go to Favorites"
      >
        <span class="icon-img icon-img--favorite" aria-hidden="true"></span>
      </a>
      <a
        routerLink="/cart"
        routerLinkActive="is-active"
        class="icon"
        (click)="onClose()"
        aria-label="Go to Shopping Bag"
      >
        <span class="icon-img icon-img--bag" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</aside>
