<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img
        class="footer-logo-icon"
        src="assets/icons/logo-light.svg"
        alt="Logo"
      />
      <a href="tel:0684170468" class="footer-phone">
        <span class="footer-phone__icon" aria-hidden="true"></span>
        <span class="footer-phone__text">
          <span class="footer-phone__label">для зв'язку</span>
          <span class="footer-phone__number">068 417 04 68</span>
        </span>
      </a>
    </div>

    <nav class="footer-nav-container">
      <a routerLink="/" class="footer-nav-container-link">Головна</a>
      <a routerLink="/catalog" class="footer-nav-container-link">Каталог</a>
      <a routerLink="/about" class="footer-nav-container-link">Про нас</a>
    </nav>

    <div class="footer-back-container">
      <span class="footer-back-container-text smallText">Back top</span>
      <div class="footer-back-container-button">
        <app-arrow-button direction="Up" (click)="scrollToTop()" />
      </div>
    </div>
  </div>
</footer>
