<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <img class="footer-logo-icon" src="assets/icons/logo.png" alt="Logo" />
    </div>

    <div class="footer-nav-container">
      <a routerLink="/" class="footer-nav-container-link">Головна</a>
      <a routerLink="/catalog" class="footer-nav-container-link">Каталог</a>
      <a routerLink="/about" class="footer-nav-container-link">Про нас</a>
    </div>

    <div class="footer-back-container">
      <span class="footer-back-container-text smallText">Back to top</span>
      <div class="footer-back-container-button">
        <app-arrow-button direction="Up" (click)="scrollToTop()" />
      </div>
    </div>
  </div>
</footer>
