@use 'variables' as *;
@use 'mixins/mixins' as *;

.footer {
  border-top: 1px solid grey;
  background-color: $color-bg;
  padding-block: 32px;
  height: 257px;
  box-sizing: border-box;
  width: 100%;

  @include on-tablet {
    height: 96px;
  }

  &-container {
    @include content-padding-in-line();
    @include grid-layout;
    row-gap: 32px;
  }

  &-logo {
    display: flex;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 1/4;
    }

    @include on-desktop {
      grid-column: 1/8;
    }

    &-icon {
      min-width: 80px;
      max-width: 150px;
      width: 100%;
      height: auto;
      @include img-hover-scale(1.1);
    }
  }

  &-nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 16px;
    grid-column: 1/-1;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      grid-column: 4/10;
    }

    @include on-desktop {
      grid-column: 8/17;
      justify-content: space-between;
    }

    &-link {
      color: $color-text-main;
      text-decoration: none;
      list-style: none;
    }
  }

  &-back-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 16px;
    grid-column: 1/-1;

    @include on-tablet {
      grid-column: 10/-1;
      justify-content: flex-end;
    }

    @include on-desktop {
      grid-column: 17/-1;
    }

    &-text {
      color: $color-text-secondary;
    }

    &-button {
      width: 32px;
      height: 32px;
    }
  }
}
